<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Naira Recognition
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Naira Recognition</ion-title>
    </ion-toolbar>
  </ion-header>

 <ion-button expand="block" (click)="scanMoney()">
Scan Currency
</ion-button>

<img *ngIf="image" [src]="image"/>

@if(result) {
  <h2>
Detected: ₦{{result}}
</h2>
}




</ion-content>
