<ion-header>
  <ion-toolbar color="dark">
    <ion-title>NairaScan</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="scan-bg">

  <div class="camera-frame">

    <p class="instruction">
      <img *ngIf="image" [src]="image"/>
    </p>

    <div class="scan-box"></div>

  </div>
@if(result) {
  <h2>
Detected: ₦{{result}}
</h2>
}
  <ion-button expand="block" class="scan-btn" (click)="scanMoney()">
    <ion-icon name="scan-outline"></ion-icon>
    Scan Now
  </ion-button>
   <ion-button expand="block" class="scan-btn" (click)="speak()">
    <ion-icon name="scan-outline"></ion-icon>
   Speak
  </ion-button>

</ion-content>